body {
    margin: 0;
    background-color: #2E7090;
    overflow: hidden;
}

.logo img{
    margin: 0;
    width: 150px;
    height: 90px;
}

.header {
    display: flex;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.contents{
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 40px;
    justify-content: center;

}

.calendar-wrapper {
    max-width: 800px;
    max-height: 627px;
    flex: 1;
    display: grid; 
}

.day-header {
    background-color: #F5A7BB;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

.date-wrapper {
    height: 460px;
    border-radius: 20px;
    background-color: #F0F8FF;
}

.legend-wrapper{
    width: 330px;
    padding: 45px;
}

.legend-header {
    background-color: #F5A7BB;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

.legend-contents {
    background-color: #F0F8FF;
    height: 460px;
    border-radius: 20px;
}